{% macro row(columns) %}
    <tr>
        {% for col in columns %}
            <td>{{ col }}</td>
        {% endfor %}
    </tr>
{% endmacro %}

{% import _self as typoView %}

<table class="table">
    <caption>Таблица 1 - Список книг для чтения</caption>
    <thead>
        <tr>
            <th>Автор</th>
            <th>Наименование книги</th>
            <th>Жанр</th>
        </tr>
    </thead>
    <tbody>
        {{ typoView.row(['Фёдор Михайлович Достоевский', 'Преступление и наказание', 'Роман']) }}
        {{ typoView.row(['Иван Александрович Гончаров', 'Обломов', 'Cоциально-психологический роман']) }}
        {{ typoView.row(['Александр Сергеевич Пушкин', 'Капитанская дочка', 'Историческая повесть']) }}
        {{ typoView.row(['Николай Васильевич Гоголь', 'Мёртвые души', 'Поэма / Роман-поэма']) }}
    </tbody>
</table>