{% macro accord(options) %}
<ul class="accordion" data-role="accordion" {{ options.multiple ? 'data-multiple' : '' }}>{% for item in options.items %}{% set contId = "accordion-content-"~loop.index %}
    <li class="accordion__item">
        <button class="accordion__trigger" data-trigger aria-expanded="false" aria-controls="{{ contId }}" data-wcag="alternative-background">
            {{ item.title }}
        </button>
        <div class="accordion__content" id="{{ contId }}" aria-hidden="true">
            {{ item.content }}
        </div>
    </li>{% endfor %}
</ul>
{% endmacro %}

{% import _self as view %}

{% set items = [{
    title: 'Преступление и наказание',
    content: 'На улице жара стояла страшная, к тому же духота, толкотня, всюду известка, леса, кирпич, пыль и та особенная летняя вонь, столь известная каждому петербуржцу, не имеющему возможности нанять дачу, — всё это разом неприятно потрясло и без того уже расстроенные нервы юноши. Нестерпимая же вонь из распивочных, которых в этой части города особенное множество, и пьяные, поминутно попадавшиеся, несмотря на буднее время, довершили отвратительный и грустный колорит картины. Чувство глубочайшего омерзения мелькнуло на миг в тонких чертах молодого человека. Кстати, он был замечательно хорош собою, с прекрасными темными глазами, темно-рус, ростом выше среднего, тонок и строен. Но скоро он впал как бы в глубокую задумчивость, даже, вернее сказать, как бы в какое-то забытье, и пошел, уже не замечая окружающего, да и не желая его замечать. Изредка только бормотал он что-то про себя, от своей привычки к монологам, в которой он сейчас сам себе признался. В эту же минуту он и сам сознавал, что мысли его порою мешаются и что он очень слаб: второй день как уж он почти совсем ничего не ел.'
},{
    title: 'Обломов',
    content: 'Но у него недоставало характера явно признать учение добра и уважения к невинности. Тихонько он упивался ее ароматом, но явно иногда приставал к хору циников, трепетавших даже подозрения в целомудрии или уважении к нему, и к буйному хору их прибавлял и свое легкомысленное слово.'
},{
    title: 'Воскресенье',
    content: 'Напившись кофею, Нехлюдов пошел в кабинет, чтобы справиться в повестке, в котором часу надо быть в суде, и написать ответ княжне. В кабинет надо было пройти через мастерскую. В мастерской стоял мольберт с перевернутой начатой картиной и развешаны были этюды. Вид этой картины, над которой он бился два года, и этюдов, и всей мастерской напомнили ему испытанное с особенной силой в последнее время чувство бессилия идти дальше в живописи. Он объяснял это чувство слишком тонко развитым эстетическим чувством, но все-таки сознание это было очень неприятно.'
},{
    title: 'Отцы и дети',
    content: 'Стук рессорного экипажа, тот стук, который так особенно заметен в деревенской глуши, внезапно поразил его слух. Ближе, ближе катились легкие колеса; вот уже послышалось фырканье лошадей... Василий Иванович вскочил и бросился к окошку. На двор его домика, запряженная четверней, въезжала двуместная карета. Не отдавая себе отчета, что бы это могло значить, в порыве какой-то бессмысленной радости, он выбежал на крыльцо... Ливрейный лакей отворял дверцы кареты; дама под черным вуалем, в черной мантилье, выходила из нее... '
}] %}


{% set optionsSingle = {
    items: items
} %}

{% set optionsMultiple = {
    items: items,
    multiple: 'true'
} %}


<p>Аккордеон представляет собой неупорядоченный список, где у каждого элемента есть триггер и контент.</p>
<p>Триггер является кнопкой и имеет следующие атрибуты:</p>
<ul>
    <li><code>aria-expanded</code> со значениями <code>true/false</code> для указания экранным чтецам на то, раскрыт контент или нет.</li>
    <li><code>aria-controls</code> - id элемента, который контролируется триггером.</li>
    <li><code>data-trigger</code> - собственный атрибут для однозначной идентификации триггера средствами JavaScript.</li>
</ul>
<p>У блока контента обязательным атрибутом является <code>id</code> и <code>aria-hidden="true"</code> для скрытого по-умолчанию состояния.</p>
<p>Если вам нужно по-умолчанию раскрыть определнный элемент, уберите у контента атрибут <code>aria-hidden</code>, а триггеру выставите значение атрибута <code>aria-expanded="true"</code>.</p>

{{ macros.html(view.accord(optionsSingle))}}

<br>
<p>Если при создании аккордеона указать параметр <code>multiple: true</code>, то можно раскрывать более одно элемента.</p>
<pre>
    <code class="language-javascript">
const accordions = document.querySelectorAll('[data-role="accordion"]');
[].forEach.call(accordions, (item) => new Accordion(item, {multiple: true}));
    </code>
</pre>
<p>Пример:</p>
{{ view.accord(optionsMultiple) }}

{{ macros.download_links('accordion', ['css', 'min.css', 'scss', 'js', 'min.js', 'source.js'], null, 'Ссылки для загрузок') }}