{% macro button(disabled) %}
<button class="button" {% if disabled %}disabled aria-disabled="true"{% endif %}>Кнопка{% if disabled %} в неактивном состоянии{% endif %}</button>
{% endmacro %}

{% macro link(disabled) %}
<a href="#some-link" class="button" {% if disabled %}aria-disabled="true" tabindex="-1" {% endif %}>Ссылка в виде кнопки{% if disabled %} в неактивном состоянии{% endif %}</a>
{% endmacro %}

{% import _self as view %}

{{ macros.download_links('button', ['css', 'min.css', 'scss'], null, 'Ссылки для загрузок') }}

{{ macros.html(view.button()) }}
<br>
{{ macros.html(view.button(true)) }}
<br>
{{ macros.html(view.link()) }}
<br>
{{ macros.html(view.link(true)) }}