{% macro links(component, types) %}
    <h3 class="h3">Ссылки для загрузок:</h3>
    {% for type in types %}
        <p>
            <a href="/components/{{ component }}/{{ component }}.{{ type }}" target="_blank">
                {% if type == 'css' %}
                    Файл стилей
                {% elseif type == 'min.css' %}
                    Минифицированный файл стилей
                {% elseif type == 'scss' %}
                    Файл стилей оформленный в препроцессоре SASS
                {% elseif type == 'js' %}
                    Скрипт для компонента
                {% else %}

                {% endif %}
                &ndash; {{ component }}.{{ type }}
            </a>
        </p>
    {% endfor %}
{% endmacro %}

{% import _self as componentsView %}

<div class="page-content__sidebar">
    <nav>
        <ul>
            <li><a href="#buttons">Кнопки</a></li>
        </ul>
    </nav>
</div>
<div class="page-content__content">
    <h1 class="h1">Компоненты</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolore in laudantium molestias optio perferendis porro quae similique. Architecto assumenda aut consequuntur doloribus enim facere, iste nulla quos recusandae reiciendis.</p>

    <div id="buttons">
        {% include './partials/buttons.twig' %}
    </div>
</div>
